In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('../Final Project/DataScienceFinalProjectValues.csv')

In [6]:
data.head()

,Ticker,Broker Score (ct),Broker Score (wtg),Benchmark,1 Yr Return,3 Yr Return,5 Yr Return,7 Yr Return,1 Yr Return BM,3 Yr Return BM,5 Yr Return BM,7Yr Ruturn BM,12/31/2005,AUM (current)
0,AADIX,-,-,S&P500,17.91,-8.10,2.76,3.88,14.53,-8.13,2.26,4.08,"245,165,645","1,034,344,418"
1,ABALX,"1,914","1,621",S&P500,11.12,-3.80,3.90,5.28,14.53,-8.13,2.26,4.08,"46,502,248,428","107,778,902,524"
2,ADGAX,748,"1,575",S&P500,13.82,-7.99,1.83,4.13,14.53,-8.13,2.26,4.08,"395,608,471","251,495,113"
3,AFDAX,"1,432","1,553",S&P500,19.17,-3.85,4.08,5.54,14.53,-8.13,2.26,4.08,"4,555,408","220,588,904"
4,AGOCX,"2,074","1,774",S&P500,16.17,-6.38,6.33,6.01,14.53,-8.13,2.26,4.08,"73,402,177","2,456,431,434"

In [8]:
data.shape

(1031, 14)